<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About</h2>
                <hr class="light">
                <!-- <p class="text-faded"> -->
                    
                    <img src="img/me.JPG" class="me" width="300" height="100" style="padding: 25px;">   
                    <h4 style="padding-top: 25px;" > Hi, I'm Dechen.</h4>
                    
                    <p> I'm a rising senior at California State University, Sacramento pursuing a Bachelor’s degree in 
                        Computer Science. My current interests are UX/UI, Web Development, and Graphic Design.
                        I'm actively seeking internship opportunities in the Bay Area-San Francisco as 
                        I want to grow my passion for discovering better ways to develop and design.</p>
            </div>
        </div>
    </div>
</section>


                    <!-- <p>I'm a rising senior at California State University, Sacramento pursuing a Bachelor’s degree
                    in Computer Science. I love learning about bridging the gap between creating beautiful user
                    interfaces and graphic design. Currently seeking for internship opportunities to enchance my skillset. </p> -->
                        
                    <!-- I love learning about bridging the gap between creating beautiful 
                    user interfaces and graphic design. Currently seeking for internship opportunities to enchance my skillset. -->

                    <!-- <p>My name is Dechen Chuteng and I am currently a junior pursuing a Bachelor’s degree in 
                    Computer Science at California State University, Sacramento. My current interests are 
                    bridging the gap between creating beautiful user interfaces and graphic design. My expected 
                    graduation is May 2021.</p>
                   
                    <p>I'm interested in internship opportunities 
                    in the Bay Area/San Francisco as I want to continue growing
                     my passion for coding.</p> -->

                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->