<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About</h2>
                <hr class="light">
                <p class="text-faded">My name is Dechen Chuteng and I am currently a junior pursuing a Bachelor’s degree in 
                    Computer Science at California State University, Sacramento. My current interests are 
                    bridging the gap between creating beautiful user interfaces and graphic design. My expected 
                    graduation is May 2021.</p>
                   
                <p class="text-faded">I'm interested in internship opportunities 
                    in the Bay Area/San Francisco as I want to continue growing
                     my passion for coding.</p>
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>
