<header>
  <div class="header-content">
    <div class="header-content-inner">
      <p id="landing-words"> developer <span class="amp">&amp;</span> de</i>signer</p>
      <!-- <p id="landing-words">Discover ✧ Develop ✧ Design</p> -->
      <!-- <p id="landing-words"> De<i>signer</i> ✧ </p> -->
      <!-- <p id="landing-words"> Dicoverer ✧ </p> -->

      <hr />
      <!-- <h2>(བཀྲ་ཤིས་བདེ་ལེགས་ང་བདེ་ཆེན་ཡིན་)</h2> -->
      <i class=" fa fa-laptop fa-2x" aria-hidden="true" style="color: #4c3b31"></i>
      <i class="fa fa-female fa-2x" aria-hidden="true" style="color: #4c3b31"></i>
      <i class="fa fa-code fa-2x" aria-hidden="true" style="color: #4c3b31"></i>

      <hr />
      <!-- <a href="#about" class="btn btn-primary btn-xl page-scroll">
                <i class="fa fa-angle-down" aria-hidden="true"></i>
            </a> -->
    </div>
  </div>
</header>