<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Hi, I'm Dechen!</h1>
            <!-- <h2>བཀྲ་ཤིས་བདེ་ལེགས་ང་བདེ་ཆེན་ཡིན་</h2> -->
            <p>front end enthusiast
                <br>
                <!-- <i class="fa fa-female fa-3x" aria-hidden="true"></i> -->
                <!-- <i class="fa fa-code fa-3x" aria-hidden="true"></i> -->
            </p>
        

            
            <hr>
            <!-- <h2>(བཀྲ་ཤིས་བདེ་ལེགས་ང་བདེ་ཆེན་ཡིན་)</h2> -->
            <i class="fa fa-laptop  fa-lg" aria-hidden="true"></i>
            <i class="fa fa-female  fa-lg" aria-hidden="true"></i>
            <i class="fa fa-code fa-lg" aria-hidden="true"></i>
            
            <hr>
            <!-- <a href="#about" class="btn btn-primary btn-xl page-scroll">
                <i class="fa fa-angle-down" aria-hidden="true"></i>
            </a> -->
            
        </div>
    </div>
</header>
