<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading" style="padding-bottom: 25px">Resume</h2>

        <!-- <div class="portfolio-box-caption">
          <a
            href="img/dechenchuteng.pdf"
            target="blank"
            style="background: #b8b3b0; padding: 25px; border-radius: 0.5em"
          >
            Dechen's Resume
          </a>
        </div> -->

        <div class="call-to-action">
          <a
            href="img/dechenchuteng-resume.pdf"
            target="blank"
            style="
              background: rgb(237 238 241);
              color: #4c3b31;
              visibility: visible;
              animation-name: tada;
            "
            class="btn btn-default btn-xl wow tada"
            >Dechen Chuteng</a
          >
        </div>

        <!-- <div class="container text-center">
          <div class="call-to-action">
            <a
              href="img/dechenchuteng.pdf"
              target="blank"
              style="background: #b8b3b0; padding: 25px; border-radius: 0.5em"
              class="btn btn-default btn-xl wow tada"
            >Dechen's Resume</a>
          </div>
        </div> -->

        <!-- <img src="img/dc.png" class="img-responsive" alt="Dechen Chuteng" /> -->
        <!-- <p>
          <a href="img/dc.pdf" target="blank"><img src="img/dc.png"/></a>
        </p> -->

        <!-- <p class="text-muted"> Please click 
                        <a href="img/dechen.pdf" target="blank"> 
                       here  </a> to view my resume in PDF format</p> -->
      </div>
    </div>
  </div>

  <!-- <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Sturdy Templates</h3>
                    <p class="text-muted">Our templates are updated regularly so they don't break.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Ready to Ship</h3>
                    <p class="text-muted">You can use this theme as is, or you can make changes!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Up to Date</h3>
                    <p class="text-muted">We update dependencies to keep things fresh.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Made with Love</h3>
                    <p class="text-muted">You have to make your websites with love these days!</p>
                </div>
            </div>
        </div>
    </div> -->
</section>
